body {
  font-family: "Open Sans", sans-serif;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: 15px;
  line-height: inherit;
  width: 100%;
  padding: 7px;
  text-align: right;
}
h2 {
  margin: 0px;
}
h3 {
  font-size: 16px;
}

.today-sunrise {
  font-size: 19px;
  margin: 10px 0px;
  line-height: 0.7px;
}

.today-sunset {
  font-size: 19px;
  margin: 0px;
}
.today-precipitation {
  margin: 286px 0px 0px 0px;
  font-size: 19px;
}
.precipitation {
  margin: 140px 0px 0px 0px;
  font-size: 10px;
}
.sunrise {
  margin: 10px 0px;
}

.sunset {
  margin: 0px;
}
.sunrise,
.sunset {
  line-height: 0.5px;
  font-size: 10px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 100px;
  text-align: right;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.box2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
.box3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}
.box4 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}
.box5 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 5;
}
.box6 {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
}
.box7 {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 5;
}
